<form action="/users/edit/<%= user.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="name" value="<%= user.name%>"/>
    <input type="text" name="email" value="<%= user.email%>"/>
    <button type="submit">Cập nhật</button>
  </form>