<h1>Danh sách người dùng</h1>
<a href="/users/add">Thêm người dùng</a>
<ul>
  <% users.forEach(user => { %>
    <li>
      <%= user.name %> - <%= user.email %>
      <a href="/users/edit/<%= user.id %>">Sửa</a>
      <form action="/users/delete/<%= user.id %>" method="POST" style="display:inline;">
        <button type="submit">Xóa</button>
      </form>
    </li>
  <% }) %>
</ul>
